@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
  align-items: center;
  justify-content: center;
}

.contanier {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  padding: 30px;
}
.picture img {
  display: flex;
  margin-top: -60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container-text {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: #fff;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.icon {
  display: flex;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: -80px;
}

.icon img {
  border-radius: 50%;
  width: 100px;
}

.text {
  display: flex;
  gap: 70px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  width: 400px;
  font-size: 16px;
}

.follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow p {
  display: flex;
  justify-content: center;
  color: gray;
}

.likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.likes p {
  display: flex;
  justify-content: center;
  color: gray;
}

.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photos p {
  display: flex;
  justify-content: center;
  color: gray;
}

.info {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-up {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.info-up p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: hsl(0, 0%, 76%);
}

.info p {
  color: gray;
}
